// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700&display=swap');
@font-face {
    font-family: "Source Sans Pro";
    src: url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700&display=swap");
    font-display: block;
}

body {
    margin: 0; 
    background-color: #222222; 
    overflow: hidden;
}
canvas {
    width: 100%; 
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute; 
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.4vw;
    background-color:rgba(0, 0, 0, 0.3);
    .head {
        h1 {
            text-transform: uppercase;
            margin-bottom: 0;
            width: 100vw;
        }
        &-sub {
            font-weight: bold;
            margin-top: 0;
        }
        text-align: center;
        margin: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 40%;
        left: 50%;
    }
    
} 

.cta {
    width: 45vw;
    font-weight: 300;
    margin: 130px auto 30px;
    // font-size: 3.2vw;
    font-size: 2.8vw;
    &-btn {
        color: black;
        background-color: white;
        // font-weight: 400;
        border-radius: 5%;
        padding: 18px 45px;
        font-size: 1.5vw;
        letter-spacing: 0rem;
        text-transform: uppercase;
        // animation: blink 1.5s ease infinite;
            &:hover {
            animation-play-state: paused; 
            color: white;
            background-color: transparent;
        }
    }   
}

// media queries for container font-size and cta, cta-btn font-size
@media (max-width: 960px){
    .container {
        font-size: 2.9vw;
    }
    .cta {
    font-size: 3.2vw;
    margin: 100px auto 30px;
        &-btn {
            font-size: 2vw;
        }
    }
}

@media (max-width: 700px){
    .container {
        font-size: 4.5vw;
    }
    .cta {
        // border: 1px solid white;
        width: 80vw;
        margin: 100px auto 10%;
        font-size: 5.0vw;
        &-btn {
            font-size: 3.2vw;
            // padding: 20px 30px;
            // min-height: 50px;
            // animation: blink 1.5s ease infinite;
            &:hover {
                animation-play-state: paused; 
            }
        }
    }
}

@keyframes blink {
    0% {
        background-color: white;
        color: black;
    }
    50% {
        background-color: transparent;
        color: white;
    } 
}